<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Search History</h1>
			<p>Below are the previously searched keywords, click on the one you want to search again.</p>
		</div>
	</div>
	<br>
	<div ng-if="searches.length > 0" class="row">
		<div class="col-md-6 col-md-offset-3 well">
			<table class="table table-striped">
				<tr>
					<th class="text-center">S.No.</th>
					<th class="text-center">Searched Keyword</th>
					<th class="text-center">Last Updated</th>
				</tr>
				<tr class="text-center" ng-repeat="search in searches | orderBy : '-updated'">
					<td>{{$index+1}}</td>
					<td><a href="#" ng-click="getLocalImages(search)">{{search.searchKeyword}}</a></td>
					<td>{{search.updated | date : 'medium'}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div ng-if="keywordClicked" class="row">
		<div class="col-md-12 well">
			<span ng-repeat="num in [0,1,2,3,4,5,6,7,8,9]">
				<img style="margin-left:20px; margin-bottom: 50px; margin-right: 50px" ng-src="assets/images/{{images.searchKeyword}}_img_{{$index}}.jpg">
			</span>
		</div>
	</div>
</div>